*{margin: 0;padding: 0;}

body{
	font-family: "Microsoft Yahei",sans-serif;
}

header{
	font-weight: lighter;
	background-image: url(img/Background.png);
	color: white;
	width: 100%;
	height: 990px;
	text-align: center;
	margin: 0 auto;
}

#title{
	display: inline-block;
	margin-top: 200px;
	font-size: 64px;
}

#passages{
	padding: 100px 25% 70px 25%;
	font-size: 20px;
	color: #BFBFBF;
}


section{
	width: 100%;
	text-align: center;
	margin: 0 auto;
	/*border-bottom: 2px solid rgb(200, 200, 200);*/
}

#second{
	height: 1500px;
	background-color:#D8D8D8
}

#second>div:nth-child(1){
	display: inline-block;
	margin-top: 120px;
}

#second>div:nth-child(2){
	margin-top: 60px;
	font-size: 48px;
	height: 170px;
	font-weight: lighter;
}

#info{
	width: 80%;
	height: 450px;
	margin: 0px auto;
	margin-top: 50px;
}

#info div{
	width: 50%;
	height: 120px;
	text-align: left;
	padding-bottom: 20px;
}

#g1,#g3,#g5{
	float: left;
}

#g2,#g4,#g6{
	float: right;
}

#info div img{
	display: block;
	float: left;
	padding: 0 15px 80px 20px;
}

#info div h1{
	padding-bottom: 10px;
}

#third{
	height: 4700px;
	background: 
		linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
		linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
		linear-gradient(315deg, black 25%, transparent 25%),
		linear-gradient(45deg, black 25%, transparent 25%);	
		background-size: 2em 2em;
		background-color: #232323;
	text-align: left;
	color: white;
	font-weight: lighter;
}

#job{
	width: 80%;
	height: 430px;
	float: left;
	padding: 50px 0 0 10%;
}

#job2{
	width: 80%;
	height: 430px;
	position: relative;
	top: 700px;
	padding: 50px 50px 0 10%;
}

#job h1{
	font-size: 40px;
	font-weight: lighter;

}

#job2 h1{
	font-size: 40px;
	font-weight: lighter;

}

#job2 h2{
	font-size: 40px;
	font-weight: lighter;

}

#job2 h3{
	font-size: 40px;
	font-weight: lighter;

}

table.Table {
	font-family: "Arial Black", Gadget, sans-serif;
	border: 2px solid #000000;
	background-color: #4A4A4A;
	width: 80%;
	height: 200px;
	text-align: center;
	border-collapse: collapse;
  }
  table.Table td, table.Table th {
	border: 4px solid #4A4A4A;
	padding: 10px 5px;
  }
  table.Table tbody td {
	font-size: 10px;
	color: #E6E6E6;
  }
  table.Table tr:nth-child(even) {
	background: #888888;
  }
  table.Table thead {
	background: #000000;
	border-bottom: 3px solid #000000;
  }
  table.Table thead th {
	font-size: 10px;
	font-weight: bold;
	color: #E6E6E6;
	text-align: center;
	border-left: 2px solid #4A4A4A;
  }
  table.Table thead th:first-child {
	border-left: none;
  }
  
  table.Table tfoot td {
	font-size: 12px;
  }

#fourth{
	width: 100%;
	height: 2000px;
	background-color:#D8D8D8;
}

#crew>div:nth-child(1){
	padding-top: 50px;
	font-size: 40px;
	font-weight: lighter;
}

#crew>div:nth-child(3){
	width: 30%;
	padding-bottom: 30PX;
	margin: 0 auto;
	font-weight: lighter;
}

#ITT{
	width: 50%;
	height: 500px;
	margin: 0 auto;
}

.img_div {
	width: 40%;
	position: relative;
	float: left;
	margin: 5%;
}

.ITTP{
	width: 100%;
}

.mask {
	background-image: url(img/Background拷贝.png);
	width: 100%;
	height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    opacity: 0;
}

.mask h1{
    font-weight: lighter;
	padding-top: 10%;
}

.mask p{
	padding-top: 5%;
	color: white;
}

.mask img{
	padding-top: 20%;
}

.mask:hover{
	opacity: 1;
}


body {
  background: white;
}

.title {
  font-size: 5.6rem;
  font-family: 'Lobster', cursive;
}

.wrapper {
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80");
  color: #eee;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  animation: animation 100s linear infinite;
}

@keyframes animation {
   100%{
    background-position:0px -3000px;
  }
}

#fifth{
width: 100%;
	height: 3000px;
	background-color:#D8D8D8;
	text-align: left;
	color: black;
	font-weight: lighter;
}


#project{
	width: 80%;
	height: 1000px;
	float: relative;
	padding: 50px 0 0 10%;
}

#project h1,h2{
	text-align: center;
    font-size: 40px;
	font-weight: lighter;
}

#project h3,h4,h5{
	text-align: left;
    font-size: 25px;
	font-weight: lighter;
}

